.computer {
  width: 450px;
  height: 430px;
  position: absolute;
  z-index: 100;
  left: 100px;
  top: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transform: skewY(-10deg);
  transition: 1s;
  /* background: #f5f5f5; */
  /* border-bottom: 5px solid #ccc; */
  /* box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.29); */
}

.computer .screen {
  width: 420px;
  height: 190px;
  background: #222222;
  position: absolute;
  color: yellow;
  padding: 5px;
  left: -10px;
  transform: skewX(25deg);
  border: 10px solid rgb(226, 226, 226);
  border-left: 5px solid rgb(226, 226, 226);
  border-right: 5px solid rgb(226, 226, 226);
  box-shadow: 4px -4px 1px rgb(177, 177, 177);
  border-radius: 7px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 1s;
  overflow: hidden;
}

.computer .keyboard {
  width: 430px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  position: absolute;
  top: 220px;
  transform: skew(-20deg);
  background: #f5f5f5;
  border-bottom: 5px solid rgb(180, 180, 180);
  border-right: 5px solid rgb(177, 177, 177);
  border-radius: 5px;
  z-index: 1;
  border-radius: 10px;
  transition: 1s;
}

.computer .keyboard::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.6),
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0));
  z-index: -1;
  top: 215px;
  left: 185px;
  transform: skew(60deg);
  transition: 1s;
}

.computer .keyboard.shadow::before {
  content: "";
  width: 100%;
  height: 10%;
  top: 215px;
  left: 20px;
  transform: skew(60deg);
  transition: 1s;
}

.keyboard-key {
  color: #000000;
  background: white;
  border: 1px solid rgb(214, 214, 214);
  border-bottom: 3px solid rgb(214, 214, 214);
  border-right: 3px solid rgb(214, 214, 214);
  height: 25px;
  width: auto;
  margin: 1px;
  padding: 2px 8px;
  border-radius: 5px;
  color: #5c5c5c;
  /* transition: 1s; */
}

.space {
  width: 100px;
}

/* Animations */

#blink {
  color: white;
  padding-left: 2px;
  animation: blinker 1s linear infinite;
  visibility: hidden;
}

@keyframes blinker {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.clicked {
  border: 1px solid #e4e4e4;
  margin-top: 3px;
  background: #d8d8d8;
}

.gear-scroll {
  position: fixed;
  z-index: 400;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
}

.gear-scroll .fa-solid {
  font-size: 60px;
  color: #5c5c5c;
}

.gear-scroll .fa-solid:nth-child(2) {
  font-size: 40px;
  color: #5c5c5c;
}