.invalid-email {
  color: white;
  width: 100%;
  height: auto;
  margin-top: .5%;
  display: none;
  text-align: center;
  position: relative;
}

.error-response {
  background: rgb(255, 95, 95);
  position: absolute;
  width: 90%;
  top: -50px;
  padding: 0% 5%;
}

/*  */

.Personal-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}


label {
  color: rgb(41, 75, 167);
  font-size: 24px;
}

#name,
#email,
#subject {
  margin-left: 0%;
  border: none;
  box-shadow: inset 1px 1px 1px rgb(0, 0, 0, 0.28), inset -1px -1px 1px rgb(0, 0, 0, 0.28);
  border-radius: 5px;
  font-size: 24px;
  padding: 5px 0px;
  padding-left: 10px;
  color: rgb(121, 136, 177);
}



textarea {
  height: 100px;
  font-size: 24px;
  padding-left: 10px;
  color: rgb(121, 136, 177);
  border: none;
  box-shadow: inset 1px 1px 1px rgb(0, 0, 0, 0.28), inset -1px -1px 1px rgb(0, 0, 0, 0.28);
  border-radius: 5px;
}

form {
  width: 90%;
  margin: auto;
  position: relative;
  border: 2px solid;
  padding: 5%;
  background: rgb(240, 240, 240);
  border-radius: 10px;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.send-button {
  width: 30%;
  position: absolute;
  left: 2px;
  bottom: -70px;
  background: rgb(51, 98, 255);
  border: none;
  font-size: 36px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.send-button:hover {
  opacity: .5;
}


.mail {
  display: flex;
  flex-direction: column;
}