/* .loader {
    scale: 3;

}

.box {
    left: 400px;
    bottom: 0px;
    height: 500px;
    width: 400px;
    /* background-color: #286cb5; 
    position: absolute;
    z-index: 700;
}

.side-left {
    position: absolute;
    background-color: #286cb5;
    width: 100px;
    height: 20px;
    transform: skew(0deg, -25deg);
    top: 14px;
    left: 10px;
}

.side-right {
    position: absolute;
    background-color: #2f85e0;
    width: 100px;
    height: 20px;
    transform: skew(0deg, 25deg);
    top: 14px;
    left: -9px;
}

.side-top {
    position: absolute;
    background-color: #5fa8f5;
    width: 200px;
    height: 200px;
    rotate: 45deg;
    transform: skew(-20deg, -20deg);
} */