/* Opening */
.open-scene {
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 200;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    transition: 1s;
}

.intro {
    font-weight: 100;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blink {
    background: rgb(248, 248, 248);
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 26px;
}

.intro-text {
    width: 40%;
    height: 200px;
    color: white;
    top: -80px;
    position: relative;
}

/* Loading */
.loading {
    width: 500px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    top: -120px;
    display: flex;
    flex-direction: row;
}

.bar {
    background: rgb(255, 255, 255);
    width: 6px;
    height: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
}

/* Skip */
.skip {
    color: white;
    height: 30px;
    background: red;
    font-size: 24px;
    padding: 0px 20px;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
    animation: skip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.skip::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background: rgb(255, 0, 0);
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: -5px;
    transform: rotate(45deg);
}

@keyframes skip {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Social icons */
.socials-icons {
    position: absolute;
    z-index: 200;
    right: 100px;
    top: 20px;
    display: flex;
    flex-direction: row;
}

.socials-icons img {
    width: 30px;
    margin: 10px;
}

.socials-inner {
    position: relative;
}

.socials-inner:hover .tool-tip {
    display: block;
}

.tool-tip {
    background: rgb(255, 255, 255);
    padding: 5px;
    color: rgb(0, 0, 0);
    position: absolute;
    display: none;
    border-radius: 5px;
    left: -20%;
    top: 95%;
    animation: tip;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tool-tip::before {
    content: "";
    position: absolute;
    width: 5;
    height: 10;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    top: -10px;
    margin: auto 30%;
    transform: rotate(0deg);

}

/* skills */


.panel-one {
    height: 200px;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1%;
}

.panel-skills {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 2%;
}

/* skillsPanel */
.sub-title {
    font-size: 36px;
    text-align: left;
    padding: 20px 0px;
    position: relative;
}

.sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-left: 50px solid rgb(104, 164, 255);
    transition: 1.5s;
}

.sub-title:hover::before {
    border-left: 70px solid rgb(104, 164, 255);
    width: 20px;
}

.sub-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 50px);
    height: 1px;
    background-color: transparent;
}

.skillsPanel {
    color: rgb(232, 242, 255);
    background: rgb(255, 255, 255, 1);
    width: 98%;
    height: 80%;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border-radius: 10px;
}

.skillsPanel:hover {
    filter: saturate(20%);
}

.skillsPanel p {
    color: rgb(71, 154, 255);
    font-size: 22px;
}



/* blink */


@keyframes blink {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: rgb(33, 28, 83);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6a6cd1;
    height: 10px;
    cursor: all-scroll;
}

/*  */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4570ff;
}

.schools-items {
    width: 100%;
}

.schools {
    background: rgb(255, 255, 255);
    color: #000000;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    border-radius: 10px;
    height: auto;
    padding-left: 5px;
    margin: 10px;
}

.schools-details {
    margin-left: -90px;
}

.schools img {
    height: auto;
    max-width: 55%;
    padding: 15px;
    border-radius: 18px;
    filter: saturate(110%);
}

.schools img:hover {
    filter: saturate(10%);
}

.schools:hover .status {
    opacity: 1;
}

.schools p:nth-child(1) {
    position: absolute;
    top: -20px;
    color: #0ca8f0;
    font-weight: 100;
}

.schools p:nth-child(3) {
    position: absolute;
    bottom: 5px;
    color: #06060a;
}

.schools h2 {
    position: absolute;
    top: 50px;
    color: #7099e4;
    font-size: 28px;
    font-weight: 100;
}

.status {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 600;
    padding: 5px 10px;
    opacity: 0;
    transition: .5s;
    border-radius: 20px;
}

.incomplete {
    background: rgb(255, 165, 165);
    color: rgb(255, 80, 80);
}

.complete {
    background: rgb(204, 255, 188);
    color: rgb(91, 209, 23);
}

.in-progress {
    background: rgb(255, 205, 113);
    color: rgb(221, 151, 0);
}

.download-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-top: -2%;
}

.download-section .fa-solid {
    padding: 5px;
}

.download-cv {
    color: rgb(0, 0, 0);
    bottom: 40px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid white;
    transition: .1s;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.d {
    /* right: 120px; */
}

.v {
    background: transparent;
    color: white;
    left: 10px;
}

.d:hover {
    color: rgb(255, 255, 255);
    background: transparent;
}

.d:hover .btn-load {}

.v:hover .btn-load {}

.v:hover {
    color: rgb(0, 0, 0);
    background: white;
}

/* Load bars */

.btn-load {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    left: 5px;
    border: 3px solid transparent;
    border-top: 3px solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    visibility: hidden;
}

#send {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Projects */
.project-section {
    width: 100%;
    height: auto;
    background: white;
    border-radius: 10px;
    color: rgb(71, 154, 255);
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project-section p {
    font-size: 28px;
}

.project-section:hover {
    filter: saturate(10%);
}

iframe {
    border-radius: 20px;
    border: 2px solid white;
}