/* skills */

.panel-one {
  height: 200px;
  position: relative;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1%;
}

.skills-main {
  display: flex;
  flex-direction: column;
}

.panel-skills {
  position: relative;
  padding: 20px;
  margin: 10px;
  background: rgb(255, 255, 255, .8);
}

.skillsPanel {
  height: 50px;
  padding-top: 10px;
  left: 0px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  margin: 5px;
}

.skillsPanel:hover .fa-brands,
.skillsPanel:hover .fa-solid {
  color: #b8b8b8;
  transition: 1s;
}

.skillsPanel div {
  font-size: 24px;
  padding-left: 10px;
}

/* skillsPanel */


.sub-title {
  font-size: 36px;
  text-align: left;
  padding: 20px 0px;
  position: relative;
}

/* blink */

@keyframes blink {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.schools-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.schools-items table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
}

li {
  list-style: circle;
}

.schools-items table th {
  padding: 10px;
  /* border-collapse: collapse; */
  font-size: 24px;
  text-align: start;
  background: rgb(223, 223, 223);
  border: 1px solid rgb(146, 146, 146)
}

td {
  border: 1px solid rgb(146, 146, 146);
  border-collapse: collapse;
  font-size: 18px;
  padding: 10px;
  /* border: 1px solid; */
}

td:nth-child(1) {}

.download-section {
  width: 70%;
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 5%;
  margin-top: 80px;
}

.download-section .fa-solid {
  padding: 5px;
}

.download-cv {
  color: rgb(255, 255, 255);
  bottom: 40px;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 16px;
}

.d {
  /* right: 120px; */
}

.v {
  background: transparent;
  color: rgb(0, 0, 0);
}

.d:hover {
  color: rgb(0, 0, 0);
  background: transparent;
}

.v:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

/* Load bars */

.btn-load {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  left: 5px;
  border: 3px solid transparent;
  border-top: 3px solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  visibility: hidden;
}

#send {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Projects */
.project-section {
  width: 100%;
  height: auto;
  background: white;
  border-radius: 10px;
  color: rgb(71, 154, 255);
  padding-bottom: 100px;
  text-align: center;
}

.project-section p {
  font-size: 28px;
}

.project-section:hover {
  filter: saturate(10%);
}

iframe {
  border-radius: 20px;
  border: 2px solid white;
}