body {
    margin: 0%;
    background: rgb(238, 238, 238);
    font-family: Arial, 'regular';
}

.header {
    top: 0%;
    position: fixed;
    width: 100%;
    text-align: center;
    /* border-radius: 0px 0px 200px 200px; */
}

.header .details {
    background: rgb(64, 83, 136);
    margin-top: 0px;
    position: absolute;
    height: 150px;
    width: 100%;
    color: rgb(186, 219, 238);
    /* border-radius: 0px 0px 200px 200px; */
}

.header .nav {
    position: absolute;
    width: 60%;
    height: 50px;
    background: rgb(255, 255, 255);
    font-size: 24px;
    margin-left: 20%;
    margin-top: 120px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.1);
    padding-bottom: 5px;
    display: flex;
    z-index: 100;
}

.nav a {
    color: rgb(84, 104, 160);
    position: relative;
    text-decoration: none;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav a .fa {
    color: rgb(84, 104, 160);
}

.nav a:hover {
    position: relative;
    text-decoration: none;
    color: rgb(121, 154, 243);
}

.content {
    width: 55%;
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 2.5%;
    margin-top: 200px;
    margin-bottom: 50px;
    box-shadow: 0.2px 0.2px 0.5px rgb(0, 0, 0, 0.1);
    border: 0.5px solid rgb(226, 226, 226);
}

.content p {
    color: rgb(92, 114, 161);
    text-align: center;
    font-size: 20px;
    line-height: 1.4em;
    margin-top: 50px;
}

.left-border {
    border-left: 4px solid rgb(93, 196, 110);
    border-radius: 4px;
    background: rgb(244, 253, 255);
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.13);
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    opacity: 1;
    text-align: center;
    color: rgb(84, 104, 160);
    z-index: 10;
    font-family: cursive;
    margin-top: -20px;
}

.fa {
    color: rgb(215, 241, 255);
    font-size: 28px;
}

.dot {
    display: flex;
    float: right;
}

.dots {
    background: rgb(255, 255, 255);
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 50%;
}


/*Other pages*/

#about {
    margin-top: 0px;
}

#about p {
    margin-top: 5px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    word-spacing: 2px;
}

#skills,
#portfolio,
#contact {
    display: none;
}


/*Active status*/

.active {
    color: rgb(144, 208, 228);
}


/*description*/

.description {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 24px;
}


/* skillsPanel */

.skillsPanel-display {
    display: flex;
    width: 100%;
}

.skillsPanel {
    color: rgb(171, 197, 228);
    width: 100px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
}

#skills h1 {
    font-family: Arial;
    color: rgb(55, 113, 180);
    text-align: center;
    margin-top: 50px;
}

.skillsPanel .fa {
    color: rgb(171, 197, 228);
}


/*Colors*/

:root {
    --orange: rgb(68, 181, 201);
}

.orange {
    color: var(--orange);
    font-size: 16px;
}

.orange .fa {
    color: var(--orange);
}


/* portfolioPanel */

.portfolioPanel-display {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.portfolioPanel {
    text-align: center;
    margin: auto;
    height: auto;
}

.portfolioPanel li {
    list-style-type: none;
    text-align: left;
    font-size: 24px;
    color: rgb(121, 146, 175);
}


/* Colors */

.a {
    border-left: 4px solid rgb(134, 255, 249);
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
    font-size: 24px;
    color: rgb(121, 146, 175);
}

.b {
    border-left: 4px solid rgb(239, 177, 255);
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
    font-size: 24px;
    color: rgb(121, 146, 175);
}

.c {
    border-left: 4px solid rgb(177, 255, 209);
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
    font-size: 24px;
    color: rgb(121, 146, 175);
}

.d {
    border-left: 4px solid rgb(172, 186, 230);
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-left: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
    font-size: 24px;
    color: rgb(121, 146, 175);
}


/*  */

.portfolioPanel p {
    background: rgb(130, 247, 255);
}

.portfolioPanel>img {
    -webkit-filter: grayscale(0%);
    opacity: 0.5;
    text-align: center;
}

.portfolioPanel>img:hover {
    -webkit-filter: grayscale(100%);
}


/* profile */

.profile {
    border-radius: 50%;
    text-align: center;
    margin-left: 35%;
    width: 30%;
}

.socials {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.socials a {
    color: rgb(64, 83, 136);
    font-size: 50px;
    margin: auto;
}

.socials a .fa {
    color: rgb(64, 83, 136);
    font-size: 40px;
}

.contact-me {
    display: flex;
    flex-direction: row;
    font-family: Arial;
    margin: auto;
    width: 100%;
}

.contact-me .fa {
    color: rgb(64, 83, 136);
}

.contactMe {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: right;
    color: rgb(121, 146, 175);
}

hr {
    color: rgb(255, 255, 255);
}


/* footer */

footer {
    background: rgb(64, 83, 136);
    margin-bottom: 0%;
    height: 190px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    color: rgb(235, 248, 255);
    text-align: center;
    font-family: monospace;
    font-size: 24px;
    /* border-radius: 0px 0px 200px 200px; */
}


/* Responsive */

@media screen and (max-width:600px) {
    /* Head and nav */
    .header .nav {
        position: absolute;
        width: 96%;
        margin-top: 120px;
        margin-left: 2%;
    }
    .header .nav a {
        font-size: 18px;
    }
    .header .nav a .fa {
        font-size: 18px;
    }
    /* Content */
    .content {
        width: 90%;
    }
    .profile {
        width: 50%;
        margin-left: 25%;
    }
    .contact-me {
        flex-direction: column;
    }
    .contactMe {
        margin-bottom: 50px;
        text-align: center;
    }
    .title {
        margin-top: 20px;
    }
    .portfolioPanel-display {
        flex-direction: column;
    }
    .skillsPanel-display {
        display: flex;
        flex-wrap: wrap;
    }
}