body {
	margin: 0px;
	background-color: rgb(0, 0, 0);
	overflow: auto;
}

.container {
	width: 90%;
	/* background: red; */
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 2% auto;
}

.main-calculator {
	width: 90%;
	background-color: rgb(8, 31, 41);
	padding: 20px;
	border-radius: 10px;
	border: 2px solid white;
}

.screen {
	width: 98%;
	height: 200px;
	background: linear-gradient(rgb(8, 15, 54), rgb(41, 62, 182), rgb(55, 78, 211));
	position: relative;
	color: rgb(255, 255, 255);
	margin: 1%;
	/* border: 2px solid rgb(255, 255, 255); */
}

button {
	height: 70px;
	font-size: 36px;
	border-radius: 10px;
}

.buttons {
	/* background:blue; */
	width: 100%;
	display: flex;
	flex-direction: row;
}

.numbers {
	width: 70%;
	/* background:black; */
}

.del {
	background: red;
}

.num {
	background: hsl(239, 50%, 52%);
}

.sqrt,
.pow,
.fra,
.comma {
	background: hsl(276, 72%, 36%);
}

.numbers button {
	width: 30.1%;
	color: white;
	border: none;
	margin: 1px;
	position: relative;
}

.numbers button::after {
	content: "";
	width: 90%;
	height: 20px;
	border-radius: 20px 20px 10px 10px;
	background: hsl(0, 0%, 100%);
	color: white;
	border: none;
	top: 5%;
	left: 5%;
	opacity: 0.2;
	display: block;
	position: absolute;
}

.numbers button:hover {
	width: 30.1%;
	background: hsl(214, 41%, 57%);
	color: white;
}

.signs {
	width: 30%;

	/* background:orange; */
}

.signs button {
	width: 100%;
	background: hsl(200, 42%, 48%);
	color: white;
	border: none;
	margin: 1px;
	position: relative;
}

.signs button::after {
	content: "";
	width: 90%;
	height: 20px;
	border-radius: 20px 20px 10px 10px;
	background: hsl(0, 0%, 100%);
	color: white;
	border: none;
	top: 5%;
	left: 5%;
	opacity: 0.2;
	display: block;
	position: absolute;
}

.signs button:hover {
	width: 100%;
	background: hsl(200, 80%, 50%);
	color: white;
}

/* del */

/*Special styling*/
#equal {
	background: hsl(120, 50%, 50%);
}

.input {
	color: rgb(255, 255, 255);
	font-size: 36px;
	margin-left: 5px;
	padding-top: 10px;
	font-family: monospace;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.text-area {
	display: flex;
	flex-direction: row;
}

.output {
	width: 98%;
	color: red;
	font-size: 36px;
	padding-right: 2%;
	position: absolute;
	bottom: 0px;
	text-align: right;
	font-family: monospace;
}


.blinker {
	font-size: 20px;
	color: transparent;
}

/* Arrows */
.arrows {
	width: 70%;
	/* background: red; */
	display: flex;
	flex-wrap: wrap;
}

.arrows button {
	width: 23%;
	font-size: 18px;
	background: rgb(120, 112, 190);
	color: white;
	border: none;
	margin: 1px;
	position: relative;
}

.arrows button:hover {
	background: rgb(129, 119, 214);
}

.arrows button::after {
	content: "";
	width: 90%;
	height: 20px;
	border-radius: 20px 20px 10px 10px;
	background: hsl(0, 0%, 100%);
	color: white;
	border: none;
	top: 5%;
	left: 5%;
	opacity: 0.2;
	display: block;
	position: absolute;
}

/* Row input */
.row-input {
	width: 45%;
	height: 90px;
	border: 2px solid;
	margin: 50px auto;
	color: rgb(255, 255, 255);
	font-size: 40px;
	display: flex;
	align-items: center;
	border: 2px solid white;
	position: absolute;
	padding-left: 10px;
}

.calculations {
	width: 40%;
	height: 90px;
	border: 2px solid;
	margin: 50px auto;
	color: rgb(255, 255, 255);
	font-size: 40px;
	display: flex;
	align-items: center;
	border: 2px solid white;
	position: absolute;
	left: 50%;
	padding-left: 50px;
}

/* Controls */
.arrow-controls {
	width: 50%;
	display: flex;
	font-size: 18px;
}

/* Add styling for numerator and denominator controls */
.numerator-controls,
.denominator-controls {
	width: 100%;
}

.numerator-controls button,
.denominator-controls button {
	margin: 2px;
	padding: 5px;
	width: 100%;
}


/* Scroll */
/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6a6cd1;
	height: 10px;
	cursor: all-scroll;
}

/*  */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #4570ff;
}